@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: 'Lato-Semibold';
  src: url("../fonts/Lato-Semibold.eot");
  src: local("☺"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype"), url("../fonts/Lato-Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Commissioner";
  background: #e5e5e5;
}

.header {
  background: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  padding: 15px 0 22px 0;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__lang {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.header__lang span {
  margin-right: 13px;
}

.select {
  font-family: "Source Sans Pro";
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

.header__overview {
  margin-right: 175px;
  opacity: 0.9;
}

.header__socials a {
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.header__socials a:first-child {
  margin-left: 0;
}

.header__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.menu__link {
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.75);
  line-height: 0.7;
  letter-spacing: 0.03em;
  margin-left: 50px;
}

.menu__link:first-child {
  margin-left: 0;
}

/* ========slider__top============== */
.slider__top .slider {
  position: relative;
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* конкретный слайдер */
}

.slider__top .slider .slick-list {
  overflow: hidden;
}

.slider__top .slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider__top .slider .slider__item {
  position: relative;
}

.slider__top .slider .slick-arrow {
  font-size: 0;
  position: absolute;
  top: 510px;
  width: 11px;
  height: 18px;
}

.slider__top .slider .slick-arrow.slick-prev {
  background: url("../images/slider_01/prev.svg") 0 0/100% no-repeat;
  left: 30px;
  z-index: 1;
}

.slider__top .slider .slick-arrow.slick-next {
  background: url("../images/slider_01/next.svg") 0 0/100% no-repeat;
  left: 100px;
}

.slider__body {
  padding: 160px 0px 270px;
}

.slider__title {
  max-width: 500px;
  font-size: 40px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.9);
}

.slider__text {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
}

.slider__button {
  margin-top: 65px;
}

.button__btn {
  display: inline-block;
  padding: 20px 55px;
  background: #dec377;
  border-radius: 2px;
  font-size: 13px;
  line-height: 2.3;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.button__btn:hover {
  background: #a58736;
}

/* ======================== */
/* ==================legal-support==================== */
.cards {
  text-align: center;
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
}

.cards__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.cards__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 15px;
  -webkit-transition: opacity, -webkit-box-shadow 0.3s linear;
  transition: opacity, -webkit-box-shadow 0.3s linear;
  transition: opacity, box-shadow 0.3s linear;
  transition: opacity, box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
}

.cards__link:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  padding: 80px 0 40px;
  height: 100%;
}

.cards__image {
  margin: 0 auto;
  width: 60px;
  position: relative;
}

.cards__image::after {
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.cards__img {
  display: block;
  width: 100%;
}

.cards__title {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0.02em;
  margin: 60px auto 0px;
  max-width: 230px;
}

.legal-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.legal-support__column {
  padding: 50px 60px;
}

.legal-support__title {
  font-size: 28px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
}

.legal-support__text {
  margin-top: 30px;
  max-width: 470px;
}

.text__text {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.8);
}

.text__text p {
  margin-bottom: 30px;
}

.text__text p:last-child {
  margin-bottom: 0;
}

/* ==============directions======================= */
.directions__inner {
  padding: 90px 0px 0px;
}

.directions__title {
  font-size: 28px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
}

.directions__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px -15px 30px;
}

.directions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  padding: 25px 15px 25px 40px;
  background: #ffffff;
  margin: 15px;
  min-height: 140px;
  position: relative;
}

.directions__subtitle {
  max-width: 180px;
  font-size: 20px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.9);
  margin-left: 20px;
}

.directions__icon {
  position: absolute;
  right: 15px;
  top: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 21px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.directions__icon img {
  width: 100%;
}

.directions__link {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.6;
  text-transform: uppercase;
  margin-left: 20px;
}

.directions__link a {
  color: rgba(0, 0, 0, 0.5);
}

.directions__content {
  padding: 100px 0px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 370px;
          flex: 1 0 370px;
}

.directions__slider {
  position: relative;
}

.slider__box .slider__track {
  position: relative;
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* конкретный слайдер */
}

.slider__box .slider__track .slick-list {
  overflow: hidden;
}

.slider__box .slider__track .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider__box .slider__track .slider__item {
  position: relative;
}

.slider__box .slider__track .slick-arrow {
  font-size: 0;
  position: absolute;
  top: 50%;
  width: 17px;
  height: 30px;
  opacity: .6;
}

.slider__box .slider__track .slick-arrow.slick-prev {
  background: url("../images/slider_01/prev.svg") 0 0/100% no-repeat;
  left: -58px;
  z-index: 1;
}

.slider__box .slider__track .slick-arrow.slick-next {
  background: url("../images/slider_01/next.svg") 0 0/100% no-repeat;
  right: -58px;
}
