@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: 'Lato-Semibold';
  src: url("../fonts/Lato-Semibold.eot");
  src: local("☺"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype"), url("../fonts/Lato-Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Commissioner";
  background: #e5e5e5;
}

hr {
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.header {
  background: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.header__body {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  padding: 15px 0 22px 0;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__lang {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.8);
}

.header__lang span {
  margin-right: 13px;
}

.select {
  width: 75px;
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: url("../images/Vector.svg") right 50% no-repeat;
  outline: 0;
}

.header__overview {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__socials a {
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.header__socials a:first-child {
  margin-left: 0;
}

.header__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.menu__link {
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.75);
  line-height: 1.4;
  letter-spacing: 0.03em;
  margin-left: 50px;
}

.menu__link:first-child {
  margin-left: 0;
}

/* ========slider__top============== */
.slider__top .slider {
  position: relative;
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* конкретный слайдер */
}

.slider__top .slider .slick-list {
  overflow: hidden;
}

.slider__top .slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider__top .slider .slider__item {
  position: relative;
}

.slider__top .slider .slick-arrow {
  font-size: 0;
  position: absolute;
  top: 510px;
  width: 11px;
  height: 18px;
}

.slider__top .slider .slick-arrow.slick-prev {
  background: url("../images/slider_01/prev.svg") 0 0/100% no-repeat;
  left: 30px;
  z-index: 1;
}

.slider__top .slider .slick-arrow.slick-next {
  background: url("../images/slider_01/next.svg") 0 0/100% no-repeat;
  left: 100px;
}

.slider__body {
  padding: 160px 0px 270px;
}

.slider__title {
  max-width: 500px;
  font-size: 40px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.9);
}

.slider__text {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
}

.slider__button {
  margin-top: 65px;
}

.button__btn {
  display: inline-block;
  padding: 8px 55px;
  background: #dec377;
  border-radius: 2px;
  font-size: 13px;
  line-height: 2.3;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.button__btn:hover {
  background: #a58736;
}

/* ======================== */
/* ==================legal-support==================== */
.cards {
  text-align: center;
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
}

.cards__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.cards__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 15px;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.cards__link:hover:hover {
  -webkit-transform: translate3d(10px, -10px, 10px);
          transform: translate3d(10px, -10px, 10px);
}

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  padding: 80px 0 40px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
}

.cards__image {
  margin: 0 auto;
  width: 60px;
  position: relative;
}

.cards__image::after {
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.cards__img {
  display: block;
  width: 100%;
}

.cards__title {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0.02em;
  margin: 60px auto 0px;
  max-width: 230px;
}

.legal-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.legal-support__column {
  padding: 50px 60px;
}

.legal-support__title {
  max-width: 546px;
  font-size: 28px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
}

.legal-support__text {
  margin-top: 30px;
  max-width: 470px;
}

.text__text {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.8);
}

.text__text p {
  margin-bottom: 30px;
}

.text__text p:last-child {
  margin-bottom: 0;
}

.legal-support__img {
  display: block;
  height: 100%;
  width: 100%;
}

/* ==============directions======================= */
.directions__inner {
  padding: 90px 0px 0px;
  margin-bottom: -100px;
}

.title__title {
  font-size: 28px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
}

.directions__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px -15px 30px;
}

.directions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  padding: 25px 15px 25px 40px;
  background: #ffffff;
  margin: 15px;
  min-height: 140px;
  position: relative;
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.directions__item:hover {
  -webkit-transform: translate3d(10px, -10px, 10px);
          transform: translate3d(10px, -10px, 10px);
}

.directions__subtitle {
  max-width: 180px;
  font-size: 20px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.9);
  margin-left: 20px;
}

.directions__icon {
  position: absolute;
  right: 15px;
  top: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 21px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.directions__icon img {
  width: 100%;
}

.directions__link {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.6;
  text-transform: uppercase;
  margin-left: 20px;
}

.directions__link a {
  color: rgba(0, 0, 0, 0.5);
}

.directions__content {
  padding: 100px 0px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.directions__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 370px;
          flex: 1 0 370px;
}

.directions__slider {
  position: relative;
}

.slider__box .slider__track {
  position: relative;
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* конкретный слайдер */
}

.slider__box .slider__track .slick-list {
  overflow: hidden;
}

.slider__box .slider__track .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider__box .slider__track .slider__item {
  position: relative;
}

.slider__box .slider__track .slick-arrow {
  font-size: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 30px;
  opacity: 0.6;
}

.slider__box .slider__track .slick-arrow.slick-prev {
  background: url("../images/slider_01/prev.svg") 0 0/100% no-repeat;
  left: -58px;
  z-index: 1;
}

.slider__box .slider__track .slick-arrow.slick-next {
  background: url("../images/slider_01/next.svg") 0 0/100% no-repeat;
  right: -58px;
}

/* ======================reviews===================== */
.reviews {
  background: #ffffff;
}

.reviews__innere {
  padding: 210px 0 50px;
}

.reviews__slider {
  margin: 35px 0 30px;
}

.reviews__slider .slider__items {
  /* Ограничивающая оболочка */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  position: relative;
  /* Активная точка */
  /* Лента слайдов */
  /* Элемент точки */
}

.reviews__slider .slider__items .slick-list {
  overflow: hidden;
}

.reviews__slider .slider__items .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.reviews__slider .slider__items .slick-arrow {
  font-size: 0;
  position: absolute;
  bottom: -41px;
  width: 10px;
  height: 18px;
  opacity: 0.6;
}

.reviews__slider .slider__items .slick-arrow.slick-prev {
  background: url("../images/slider_01/prev.svg") 0 0/100% no-repeat;
  right: 70px;
  z-index: 1;
}

.reviews__slider .slider__items .slick-arrow.slick-next {
  background: url("../images/slider_01/next.svg") 0 0/100% no-repeat;
  right: 20px;
}

.reviews__slider .slider__items .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.reviews__slider .slider__items .slick-dots li + li {
  margin-left: 10px;
}

.reviews__slider .slider__items .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.reviews__slider .slider__items .slick-dots li.slick-active button {
  background-color: #dec377;
}

.reviews__slider .slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 15px;
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
}

.reviews__slider .slider__img {
  width: 100%;
}

.reviews__slider .slider__content {
  padding: 40px 50px 65px;
}

.reviews__slider .slider__post {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.5);
}

.reviews__slider .slider__author {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #dec377;
}

.reviews__slider .slider__text {
  min-height: 250px;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  /*    text-overflow: ellipsis;
      overflow: hidden; */
}

.reviews__slider .slider__link {
  display: inline-block;
  margin-top: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 1.6;
  text-transform: uppercase;
}

/* ================partners==================== */
.partners {
  background-color: #fff;
}

.partners__inner {
  padding: 55px 0 100px;
}

.partners__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partners__text {
  max-width: 670px;
}

.partners__button {
  margin-left: 100px;
}

.partners__btn {
  color: #dec377;
  background-color: #fff;
  border: 2px solid #dec377;
  border-radius: 3px;
}

.partners__btn:hover {
  background-color: #dec377;
  color: #fff;
}

.partners__logos {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__link {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: block;
}

.partners__link:hover {
  -webkit-transform: translate3d(10px, -10px, 10px);
          transform: translate3d(10px, -10px, 10px);
}

/* =============promo================== */
.promo__inner {
  padding: 80px 0 100px;
}

.promo__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.promo__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}

.promo__content {
  background-color: #fff;
  padding: 45px 50px 55px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
}

.promo__title {
  font-size: 26px;
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.9);
}

.promo__text {
  margin-top: 15px;
}

.item__meta {
  position: relative;
}

.item__meta::after {
  content: "";
  background-image: url("../images/promo/icons/triangle.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 15px;
  width: 70px;
  height: 70px;
}

.promo__row {
  margin-top: 30px;
  background-color: #fff;
  padding: 40px 50px 45px;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title__row {
  max-width: 320px;
}

.text__row {
  margin-top: 0;
  max-width: 720px;
}

.promo__footer {
  height: 180px;
}

.promo__bg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ==============benefits================ */
.benefits__inner {
  padding: 100px 0;
}

.benefits__title {
  margin-bottom: 35px;
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
  height: 140px;
  margin-bottom: 30px;
}

.benefits__row:first-child .benefits__item::before {
  background: rgba(222, 195, 119, 0.4);
}

.benefits__row:last-child .benefits__item::before {
  background: rgba(222, 195, 119, 0.4);
}

.benefits__row:nth-child(even) .benefits__item::before {
  background: rgba(222, 195, 119, 0.75);
}

.benefits__row:nth-child(3) .benefits__item::before {
  background: #dec377;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 15px;
  position: relative;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.benefits__item::before {
  content: "";
  width: 70px;
  height: 140px;
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 5;
}

.benefits__item:hover:hover {
  -webkit-transform: translate3d(10px, -10px, 10px);
          transform: translate3d(10px, -10px, 10px);
}

.benefits__col {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 30px 20px 100px;
}

.benefits__excerpt {
  font-size: 20px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.9);
}

.benefits__desc {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.benifits__link {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}

.benefits__content {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits__text {
  max-width: 770px;
}

/* ==============advantages================== */
.advantages {
  background-color: #fff;
}

.advantages__inner {
  padding: 20px 0 40px;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0px;
}

.advantages__row:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.advantages__desc {
  max-width: 470px;
  margin-top: 30px;
}

.advantages__list {
  margin-left: 150px;
}

.advantages__items {
  max-width: 440px;
}

.advantages__item {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.76;
  letter-spacing: 0.01em;
  padding-left: 70px;
  margin-bottom: 30px;
  position: relative;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(222, 195, 119, 0.4);
  border-radius: 300px;
}

.advantages__item::after {
  content: "";
  position: absolute;
  left: 15px;
  top: 15px;
  width: 10px;
  height: 10px;
  background: #dec377;
  border-radius: 300px;
}

/* =====================pros=================== */
.pros__inner {
  padding: 80px 0 100px;
}

.pros__inner .item__meta::after {
  right: 0;
}

.pros__cards {
  text-align: center;
  margin: 35px 0 40px;
}

.pros__text {
  background-color: #fff;
  padding: 40px 0 45px 50px;
}

.pros__text p {
  max-width: 750px;
}

/* ================cooperation========== */
.cooperation__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -50px;
}

.cooperation__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  padding: 0 50px;
}

.cooperation__list {
  margin: 35px 0;
}

.cooperation__item {
  margin-bottom: 30px;
  padding-left: 100px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
}

.cooperation__item:last-child {
  margin-bottom: 0;
}

.cooperation__item:last-child::after {
  background: url("../images/cooperation/2.svg");
  width: 12px;
  height: 16px;
}

.cooperation__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 70px;
  border: 1px solid rgba(222, 195, 119, 0.75);
  border-radius: 50%;
}

.cooperation__item::after {
  content: "";
  background: url("../images/cooperation/1.svg");
  width: 9px;
  height: 16px;
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cooperation__text {
  font-size: 14px;
  line-height: 1.78;
}

.cooperation__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 570px;
          flex: 1 1 570px;
  padding: 0 50px;
}

.form__body {
  padding: 40px 50px 50px;
  background-color: #fff;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.form__item:first-child {
  margin-top: 0;
}

.form__label {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
}

.form__label span {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
}

.form__label span a {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.form__label span a:hover {
  opacity: .8;
}

.form__input {
  font-family: "Lato", sans-serif;
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.6;
  padding-left: 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form__button {
  width: 100%;
  margin-top: 30px;
}

.cooperation__row {
  margin: 100px 0;
}

.row__text {
  margin: 30px 0;
  font-size: 15px;
  line-height: 1.6;
  max-width: 670px;
}
