@font-face {
	font-family: 'Lato-Semibold';
	src: url('../fonts/Lato-Semibold.eot');
	src: local('☺'), url('../fonts/Lato-Semibold.woff') format('woff'), url('../fonts/Lato-Semibold.ttf') format('truetype'), url('../fonts/Lato-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
