@import "_nullstyle";
@import "_fonts";

body {
   font-family: "Commissioner";
   background: #e5e5e5;
}

.header {
   background: #fff;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.header__inner {
   padding: 15px 0 22px 0;
}

.header__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header__lang {
   font-family: "Source Sans Pro";
   font-size: 16px;
   font-weight: 300;
   line-height: 20px;
   color: rgba(0, 0, 0, 0.8);
   span {
      margin-right: 13px;
   }
}
.select {
   font-family: "Source Sans Pro";
   font-size: 16px;
   color: rgba(0, 0, 0, 0.8);
   cursor: pointer;
}

.header__overview {
   margin-right: 175px;
   opacity: 0.9;
}
.header__socials {
   a {
      margin-left: 15px;
      color: rgba(0, 0, 0, 0.5);
      &:first-child {
         margin-left: 0;
      }
   }
}
.header__footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 35px;
}

.menu__link {
   font-weight: 500;
   text-transform: uppercase;
   color: rgba(0, 0, 0, 0.75);
   line-height: 0.7;
   letter-spacing: 0.03em;
   margin-left: 50px;
   &:first-child {
      margin-left: 0;
   }
}

/* ========slider__top============== */

.slider__top {
   .slider {
      position: relative;
      /* Ограничивающая оболочка */
      .slick-list {
         overflow: hidden;
      }
      /* Лента слайдов */
      .slick-track {
         display: flex;
         align-items: flex-start;
      }
      /* конкретный слайдер */
      .slider__item {
         position: relative;
      }

      .slick-arrow {
         font-size: 0;
         position: absolute;
         top: 510px;
         width: 11px;
         height: 18px;
      }
      .slick-arrow.slick-prev {
         background: url("../images/slider_01/prev.svg") 0 0/100% no-repeat;
         left: 30px;
         z-index: 1;
      }
      .slick-arrow.slick-next {
         background: url("../images/slider_01/next.svg") 0 0/100% no-repeat;
         left: 100px;
      }
   }
}

.slider__body {
   padding: 160px 0px 270px;
}

.slider__title {
   max-width: 500px;
   font-size: 40px;
   line-height: 1.25;
   letter-spacing: 0.01em;
   color: rgba(0, 0, 0, 0.9);
}
.slider__text {
   font-family: "Lato", sans-serif;
   font-weight: 300;
   font-size: 15px;
   line-height: 1.6;
   color: rgba(0, 0, 0, 0.8);
   margin-top: 20px;
}
.slider__button {
   margin-top: 65px;
}
.button__btn {
   display: inline-block;
   padding: 8px 55px;
   background: #dec377;
   border-radius: 2px;
   font-size: 13px;
   line-height: 2.3;
   font-weight: 700;
   color: #ffffff;
   text-transform: uppercase;
   letter-spacing: 0.08em;
   transition: all 0.3s linear;
   &:hover {
      background: #a58736;
   }
}

/* ======================== */

/* ==================legal-support==================== */

.cards {
   text-align: center;
   transform: translateY(-90px);
}

.cards__items {
   display: flex;
   margin: 0 -15px;
}

.cards__link {
   flex: 0 1 25%;
   padding: 0px 15px;
   transition: transform 0.3s linear;
   &:hover {
      &:hover {
         transform: translate3d(10px, -10px, 10px);
      }
   }
}
.cards__item {
   display: flex;
   flex-direction: column;
   background: #ffffff;
   padding: 80px 0 40px;
   height: 100%;
   -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
   box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
}
.cards__image {
   margin: 0 auto;
   width: 60px;
   position: relative;
   &::after {
      content: "";
      display: block;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 3px solid rgba(0, 0, 0, 0.1);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
   }
}

.cards__img {
   display: block;
   width: 100%;
}
.cards__title {
   font-family: "Lato", sans-serif;
   font-size: 16px;
   line-height: 1.5;
   color: rgba(0, 0, 0, 0.75);
   letter-spacing: 0.02em;
   margin: 60px auto 0px;
   max-width: 230px;
}

.legal-support {
   display: flex;
   background-color: #fff;
}
.legal-support__column {
   padding: 50px 60px;
}
.legal-support__title {
   font-size: 28px;
   line-height: 1.4;
   letter-spacing: 0.03em;
   color: rgba(0, 0, 0, 0.9);
}
.legal-support__text {
   margin-top: 30px;
   max-width: 470px;
}

.text__text {
   font-family: "Lato", sans-serif;
   font-weight: 300;
   font-size: 15px;
   line-height: 1.6;
   color: rgba(0, 0, 0, 0.8);
   p {
      margin-bottom: 30px;
      &:last-child {
         margin-bottom: 0;
      }
   }
}

/* ==============directions======================= */

.directions__inner {
   padding: 90px 0px 0px;
   margin-bottom: -100px;
}

.title__title {
   font-size: 28px;
   line-height: 1.4;
   letter-spacing: 0.03em;
   color: rgba(0, 0, 0, 0.9);
}

.directions__items {
   display: flex;
   flex-wrap: wrap;
   margin: 30px -15px 30px;
}
.directions__item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex: 0 1 370px;
   padding: 25px 15px 25px 40px;
   background: #ffffff;
   margin: 15px;
   min-height: 140px;
   position: relative;
   -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
   box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
   transition: transform 0.3s linear;
   &:hover {
      transform: translate3d(10px, -10px, 10px);
   }
}

.directions__subtitle {
   max-width: 180px;
   font-size: 20px;
   line-height: 1.5;
   color: rgba(0, 0, 0, 0.9);
   margin-left: 20px;
}

.directions__icon {
   position: absolute;
   right: 15px;
   top: 15px;
   border: 1px solid rgba(0, 0, 0, 0.1);
   padding: 21px;
   border-radius: 50%;
   width: 80px;
   height: 80px;
   img {
      width: 100%;
   }
}

.directions__link {
   font-family: "Lato", sans-serif;
   font-weight: 600;
   font-size: 12px;
   line-height: 1.6;
   text-transform: uppercase;
   margin-left: 20px;
   a {
      color: rgba(0, 0, 0, 0.5);
   }
}

.directions__content {
   padding: 100px 0px 60px;
   display: flex;
}
.directions__title {
   flex: 1 0 370px;
}

.directions__slider {
   position: relative;
}
.slider__box {
   .slider__track {
      position: relative;
      /* Ограничивающая оболочка */
      .slick-list {
         overflow: hidden;
      }
      /* Лента слайдов */
      .slick-track {
         display: flex;
         align-items: flex-start;
      }
      /* конкретный слайдер */
      .slider__item {
         position: relative;
      }

      .slick-arrow {
         font-size: 0;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         width: 17px;
         height: 30px;
         opacity: 0.6;
      }
      .slick-arrow.slick-prev {
         background: url("../images/slider_01/prev.svg") 0 0/100% no-repeat;
         left: -58px;
         z-index: 1;
      }
      .slick-arrow.slick-next {
         background: url("../images/slider_01/next.svg") 0 0/100% no-repeat;
         right: -58px;
      }
   }
}

/* ======================reviews===================== */

.reviews {
   background: #ffffff;
}

.reviews__innere {
   padding: 210px 0 50px;
}

.reviews__slider {
   margin: 35px 0 30px;
   .slider__items {
      /* Ограничивающая оболочка */
      display: flex;
      margin: 0px -15px;
      position: relative;

      /* Активная точка */
      .slick-list {
         overflow: hidden;
      }
      /* Лента слайдов */
      .slick-track {
         display: flex;
         align-items: flex-start;
      }

      .slick-arrow {
         font-size: 0;
         position: absolute;
         bottom: -41px;
         width: 10px;
         height: 18px;
         opacity: 0.6;
      }
      .slick-arrow.slick-prev {
         background: url("../images/slider_01/prev.svg") 0 0/100% no-repeat;
         right: 70px;
         z-index: 1;
      }
      .slick-arrow.slick-next {
         background: url("../images/slider_01/next.svg") 0 0/100% no-repeat;
         right: 20px;
      }

      .slick-dots {
         position: absolute;
         display: flex;
         bottom: -45px;
         left: 50%;
         transform: translateX(-50%);
      }

      .slick-dots li + li {
         margin-left: 10px;
      }

      /* Элемент точки */
      .slick-dots li button {
         font-size: 0;
         width: 10px;
         height: 10px;
         background: rgba(0, 0, 0, 0.1);
         border-radius: 50%;
      }

      .slick-dots li.slick-active button {
         background-color: #dec377;
      }
   }

   .slider__item {
      flex: 0 1 50%;
      margin: 15px;
      -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
   }

   .slider__img {
      width: 100%;
   }
   .slider__content {
      padding: 40px 50px 65px;
   }
   .slider__post {
      font-family: "Lato", sans-serif;
      font-size: 15px;
      line-height: 1.6;
      color: rgba(0, 0, 0, 0.5);
   }
   .slider__author {
      font-weight: 700;
      font-size: 26px;
      line-height: 1.5;
      letter-spacing: 0.01em;
      color: #dec377;
   }
   .slider__text {
      min-height: 250px;
      font-size: 14px;
      line-height: 1.8;
      letter-spacing: 0.01em;

      /*    text-overflow: ellipsis;
      overflow: hidden; */
   }

   .slider__link {
      display: inline-block;
      margin-top: 25px;
      font-family: "Lato", sans-serif;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.5);
      font-size: 12px;
      line-height: 1.6;
      text-transform: uppercase;
   }
}

/* ================partners==================== */

.partners {
   background-color: #fff;
}

.partners__inner {
   padding: 55px 0 100px;
}
.partners__content {
   display: flex;
}
.partners__text {
   max-width: 670px;
}

.partners__button {
   margin-left: 100px;
}
.partners__btn {
   color: #dec377;
   background-color: #fff;
   border: 2px solid #dec377;
   border-radius: 3px;
   &:hover {
      background-color: #dec377;
      color: #fff;
   }
}
.partners__logos {
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.partners__link {
   transition: all 0.3s linear;
   display: block;
   &:hover {
      transform: translate3d(10px, -10px, 10px);
   }
}

/* =============promo================== */

.promo__inner {
   padding: 80px 0 100px;
}

.promo__items {
   display: flex;
   margin: 0px -15px;
}
.promo__item {
   flex: 0 1 50%;
   padding: 0 15px;
}

.promo__content {
   background-color: #fff;
   padding: 45px 50px 55px;
   height: 100%;
   -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
   box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
}
.promo__title {
   font-size: 26px;
   line-height: 1.7;
   color: rgba(0, 0, 0, 0.9);
}
.promo__text {
   margin-top: 15px;
}

.item__meta {
   position: relative;
   &::after {
      content: "";
      background-image: url("../images/promo/icons/triangle.svg");
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      right: 15px;
      width: 70px;
      height: 70px;
   }
}
.promo__row {
   margin-top: 30px;
   background-color: #fff;
   padding: 40px 50px 45px;
   -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
   box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
   display: flex;
}
.title__row {
   max-width: 320px;
}
.text__row {
   margin-top: 0;
   max-width: 720px;
}
.promo__footer {
   height: 180px;
}
.promo__bg {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* ==============benefits================ */

.benefits__inner {
   padding: 100px 0;
}
.benefits__title {
   margin-bottom: 35px;
}

.benefits__row {
   display: flex;
   justify-content: space-between;
   margin: 0 -15px;
   height: 140px;
   margin-bottom: 30px;
   &:first-child .benefits__item::before {
      background: rgba(222, 195, 119, 0.4);
   }

   &:last-child .benefits__item::before {
      background: rgba(222, 195, 119, 0.4);
   }

   &:nth-child(even) .benefits__item::before {
      background: rgba(222, 195, 119, 0.75);
   }

   &:nth-child(3) .benefits__item::before {
      background: #dec377;
   }
}

.benefits__item {
   flex: 1 1 auto;
   margin: 0 15px;
   position: relative;
   &::before {
      content: "";
      width: 70px;
      height: 140px;
      position: absolute;
      left: 0px;
      top: 0;
      z-index: 5;
   }
   -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
   box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
   transition: transform 0.3s linear;
   &:hover {
      &:hover {
         transform: translate3d(10px, -10px, 10px);
      }
   }
}

.benefits__col {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   background-color: #fff;

   justify-content: space-between;

   padding: 25px 30px 20px 100px;
}

.benefits__excerpt {
   font-size: 20px;
   line-height: 1.5;
   color: rgba(0, 0, 0, 0.9);
}
.benefits__desc {
   align-self: flex-end;
}
.benifits__link {
   font-family: "Lato", sans-serif;
   font-weight: 600;
   font-size: 12px;
   line-height: 1.6;
   letter-spacing: 0.02em;
   text-transform: uppercase;
   color: rgba(0, 0, 0, 0.5);
}

.benefits__content {
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
}
.benefits__text {
   max-width: 770px;
}
.text__text {
}
.benefits__button {
}
.benefits__btn {
}
.button__btn {
}
